<div class="swiper {{ block.id }}{{ section.id }}">
  <div class="customSlider-{{ block.id }}{{ section.id }}">
    <div class="swiper-wrapper">
      {% content_for 'blocks' %}
    </div>

    {% if block.settings.arrow_design == "navigation" %}
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    {% elsif block.settings.arrow_design == "pagination" %}
      <div class="swiper-pagination"></div>
    {% elsif block.settings.arrow_design == "scrollbar" %}
      <div class="swiper-scrollbar"></div>
    {% else %}

    {% endif %}
  </div>
</div>

<style>
  .customSlider-{{ block.id }}{{ section.id }}{
    width: 100%;
    height: 100%;
  }
  .swiper *:empty{
    display: flex;
  }
  .swiper.{{ block.id }}{{ section.id }}{
    max-width: {{block.settings.slider_width}}%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @media(max-width: 750px){
      aspect-ratio: 8/10;
    }
  }
  {% if block.settings.arrow_design == "scrollbar" %}
    .swiper.{{ block.id }}{{ section.id }} {
      padding-bottom: 15px;
    }
    .swiper.{{ block.id }}{{ section.id }} .swiper-scrollbar-drag {
      background: var(--swiper-scrollbar-drag-bg-color, rgb(237 143 10 / 50%));
    }
    .swiper.{{ block.id }}{{ section.id }} .swiper-scrollbar {
        background: rgb(196 196 196 / 10%);
    }
    .swiper.{{ block.id }}{{ section.id }} .swiper-scrollbar.swiper-scrollbar-horizontal {
      position: absolute;
      bottom: 0;
    }
  {% endif %}
  
  .customSlider-{{ block.id }}{{ section.id }} .swiper-button-next:after, 
  .customSlider-{{ block.id }}{{ section.id }} .swiper-button-prev:after {
    font-size: 30px;
    color: var(--color-foreground);
  }
  .customSlider-{{ block.id }}{{ section.id }} .swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
  }   
  .customSlider-{{ block.id }}{{ section.id }} span.swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
    height: 5px;
  }
  .customSlider-{{ block.id }}{{ section.id }} .swiper-pagination-bullet{
    background-color: var(--color-primary-button-text);
  }
  .customSlider-{{ block.id }}{{ section.id }} .swiper-pagination-bullet-active{
    background-color: var(--color-primary-button-background);
  }
  
</style>

<script>
  var swiper = new Swiper(".customSlider-{{ block.id }}{{ section.id }}", {
    slidesPerView: 1,
    spaceBetween: 0,      
    centeredSlides: false,
    speed: 1500,
    loop: false,
    grabCursor: true,
    effect: "slide",
    {% comment %} autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    }, {% endcomment %}
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    scrollbar: {
      el: ".swiper-scrollbar",
      hide: false,
    },
    breakpoints: {
      640: {
        slidesPerView: {{ block.settings.mobile_item }},
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: {{ block.settings.desktop_item }},
        spaceBetween: 20,
      },
    },
  });
</script>

{% schema %}
  {
    "name": "Custom Slider",
    "tag": null,
    "settings": [
      {
        "type": "select",
        "id": "arrow_design",
        "label": "Arrow Design",
        "default": "navigation",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "navigation",
            "label": "Navigation"
          },
          {
            "value": "pagination",
            "label": "Pagination"
          },
          {
            "value": "scrollbar",
            "label": "Scrollbar"
          }
        ]
      },
      {
        "type": "select",
        "id": "desktop_item",
        "label": "Desktop Item",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "mobile_item",
        "label": "Mobile Item",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "range",
        "id": "slider_width",
        "label": "Slider Width",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 100
      }
    ],
    "blocks": [{"type": "_single_slider"}],
    "presets": [{"name": "Custom Slider"}]
  }
{% endschema %}